
.al-sidebar-list {
  margin: 0;
  overflow: hidden;
  padding: 2px 0 0 0;
  list-style: none;
}

.sh-menu-icon{
 
  font-size:13px;
  
}

.sh-menu-i {
    display: block;
    opacity: 1;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 0;
    text-align: center;
    color: #000000;
    transition: transform 0.2s linear;
}
