md-sidenav-container {


}
.main {
 
  display: flex;
  flex-direction: column;
  height:100%;


.main-header {

  .main-title {

  }
  .main-fill-remaining {
    flex: 1 1 auto;
  }
 .login-button{
   a {
     font-size:15px;
   }
 
 }
}
 .main-container{
   flex: 1 1 auto;
    flex-direction: column;
    position: relative;
   overflow-y:auto; 
   height:100%;
   
  }
}
.nav-left {
 background-color: #319736;
  //flex:0 0 auto;
  width:300px;
  .header{
    display:flex;
    color:#CBD242;
    justify-content: center;
     padding:5px;
  }
}


 
