
    .main-products-card{
        .products{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
             padding: 10px;
           
            .product-card{
               padding: 10px;
            }
        
        }
    }



