.product-cards{
  
   padding: 20px;
    .category-nav{
             md-card{
                 padding: 10px;
                   .ul-nav{
                       display:flex;
                       flex-direction: row;
                       list-style-type: none;
                        flex-wrap:wrap;
                        .nav-icon{
                            font-size:10px;
                            color:#BDBDBD;
                            padding: 4px;
                        }
                    }
                  
             }
             
    }
   
}

.ul-nav{
            flex:display;
            flex-direction: row;
            list-style-type: none;
            flex-wrap:wrap;
      }


